@page
@model AlertaChuva.API.Pages.Usuarios.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Lista de Usuários</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Cidade</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model.Usuarios)
        {
            <tr>
                <td>@usuario.Id</td>
                <td>@usuario.Nome</td>
                <td>@usuario.Email</td>
                <td>@usuario.Cidade</td>
                <td>@usuario.TipoUsuario</td>
            </tr>
        }
    </tbody>
</table>
